@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  :root {
    --background: 45 33% 95%; /* #F4F3EA */
    --foreground: 221 21% 26%; /* #333D51 */
    --card: 0 0% 100%;
    --card-foreground: 221 21% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 21% 26%;
    --primary: 45 74% 50%; /* #D3AC2B */
    --primary-foreground: 221 21% 26%;
    --secondary: 222 10% 80%; /* #CBD0D8 */
    --secondary-foreground: 221 21% 26%;
    --muted: 222 10% 85%;
    --muted-foreground: 221 21% 40%;
    --accent: 222 10% 75%;
    --accent-foreground: 221 21% 26%;
    --border: 222 10% 85%;
    --input: 222 10% 80%;
    --ring: 45 74% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #333D51 ;
    --foreground: 45 56% 94%;
    --card: 221 21% 20%;
    --card-foreground: 45 56% 94%;
    --popover: 221 21% 20%;
    --popover-foreground: 45 56% 94%;
    --primary: 45 74% 50%;
    --primary-foreground: 221 21% 26%;
    --secondary: 222 10% 30%;
    --secondary-foreground: 45 56% 94%;
    --muted: 222 10% 30%;
    --muted-foreground: 45 56% 80%;
    --accent: 222 10% 35%;
    --accent-foreground: 45 56% 94%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 10% 40%;
    --input: 222 10% 40%;
    --ring: 45 74% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 20 14% 10%;
    --sidebar-foreground: 38 62% 93%;
    --sidebar-primary: 16 68% 62%;
    --sidebar-primary-foreground: 16 100% 98%;
    --sidebar-accent: 31 46% 24%;
    --sidebar-accent-foreground: 38 62% 93%;
    --sidebar-border: 20 14% 15%;
    --sidebar-ring: 16 68% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
